
.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
  z-index: 1; /* Overlay is beneath the button */
}

.carousel-item h1 {
  position: absolute;
  z-index: 2;
  color: white;
  letter-spacing: 1px;
}
.carousel-item p {
  position: absolute;
  top: 150px;
  z-index: 2;
  color: white;
  letter-spacing: 1px;
}
